.hero {
  background-color: black;
  height: 760px;
  width: 100%;
  color: white;
  background-image: url(./../../assets/img/backgroundImage.png);
  display: table;
  box-sizing: border-box; }

.heroTitle {
  font-family: 'Droid Sans', sans-serif;
  font-size: 72px;
  margin-bottom: 0px; }

.heroSubTitle {
  font-family: 'Droid Sans', sans-serif;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 40px; }

.heroContent {
  margin-top: 0px; }
