.hero{
  color: white;
  background-image: url(./../../assets/img/backgroundImage.png);
  box-sizing: border-box;
}
.blockHero {
  width: 100%;
  height: 750px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  overflow: auto;
}
.heroTitle{
  font-family: 'Droid Sans', sans-serif;
  font-size: 72px;
  margin-bottom: 0px;
}
.heroSubTitle{
  font-family: 'Droid Sans', sans-serif;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 40px;
}
.heroContent{
  margin-top: 0px;
  font-size: 24px;
  font-family: "DejaVuSans";
}
.row {
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 300px;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.filledButton {
  background-color: #ff5959;
  color: white;
  padding: 10px 40px;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid #ff5959;
  display: inline-block;
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.viewMapBtn {
  color: white;
  padding: 10px 40px;
  margin-top: 30px;
  border: 2px solid #ff5959;
  border-radius: 10px;
  display: inline-block;
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.filledButton:hover {
  text-decoration: none;
  color: white;
  background-color: transparent;
}

.viewMapBtn:hover {
  text-decoration: none;
  color: white;
  background-color: #ff5959;
}
