.portfolioTitle {
  display: block;
  position: relative;
  font-family: Quicksand, sans-serif;
  line-height: 20px;
  text-align: center;
  margin: 50px 0 70px 0;
  font-size: 36px;
  font-weight: 500; }
  .portfolioTitle:after {
    position: absolute;
    content: '';
    background: url("./whiteLine.png") no-repeat;
    width: 100%;
    height: 10px;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center bottom; }

.rowImg {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 300px;
  justify-content: space-around; }

.rowLittleImg {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 300px;
  justify-content: space-around; }

.portfolio {
  background-color: #ff5959; }

.animation {
  display: table;
  width: 100%;
  height: 100%; }

.titleAnimation {
  height: 100%;
  width: 100%;
  font-size: 18px;
  text-align: center;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto; }

h3 {
  margin: 5px 0 5px 0; }

.icon {
  color: white;
  border-radius: 10px;
  display: inline-block;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.blockImg {
  padding: 10px 0 10px 0; }

div#portfolio3 {
  margin: 40px -40px 40px 0; }

#portfolio h3 {
  font-size: 24px;
  font-weight: 700; }

#portfolio1 {
  width: 558px;
  height: 278px;
  max-width: 100%;
  max-height: 278px;
  display: block;
  position: relative; }

#portfolio1:after {
  content: "";
  background-image: url(./../../assets/img/img-here.png);
  background-position: center center;
  filter: alpha(opacity=20);
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#portfolio1:hover:after {
  content: "";
  background-image: url(./../../assets/img/img-here.png);
  background-position: center center;
  opacity: 0.2;
  filter: alpha(opacity=20);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.2); }

#portfolio2 {
  width: 558px;
  height: 278px;
  max-width: 100%;
  max-height: 278px;
  display: block;
  position: relative; }

#portfolio2:after {
  content: " ";
  background-image: url(./../../assets/img/img-here1.png);
  background-position: center center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#portfolio2:hover::after {
  content: " ";
  background-image: url(./../../assets/img/img-here1.png);
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

#portfolio3 {
  width: 271px;
  height: 286px;
  max-width: 100%;
  max-height: 286px;
  display: block;
  position: relative; }

#portfolio3:after {
  content: " ";
  background-image: url(./../../assets/img/img-here2.png);
  background-position: center center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#portfolio3:hover::after {
  content: " ";
  background-image: url(./../../assets/img/img-here2.png);
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0; }

#portfolio4 {
  width: 271px;
  height: 286px;
  max-width: 100%;
  max-height: 286px;
  display: block;
  position: relative; }

#portfolio4:after {
  content: " ";
  background-image: url(./../../assets/img/img-here3.png);
  background-position: center center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#portfolio4:hover::after {
  content: " ";
  background-image: url(./../../assets/img/img-here3.png);
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0; }

#portfolio5 {
  width: 271px;
  height: 286px;
  max-width: 100%;
  max-height: 286px;
  display: block;
  position: relative; }

#portfolio5:after {
  content: " ";
  background-image: url(./../../assets/img/img-here3.png);
  background-position: center center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#portfolio5:hover::after {
  content: " ";
  background-image: url(./../../assets/img/img-here4.png);
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0; }

#portfolio6 {
  width: 271px;
  height: 286px;
  max-width: 100%;
  max-height: 286px;
  display: block;
  position: relative; }

#portfolio6:after {
  content: " ";
  background-image: url(./../../assets/img/img-here6.png);
  background-position: center center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#portfolio6:hover::after {
  content: " ";
  background-image: url(./../../assets/img/img-here6.png);
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0; }
