body {
  margin: 0;
  padding: 0;
  background: #e8e8e8;
  overflow-x: hidden; }

a {
  text-decoration: none;
  cursor: pointer; }

.container {
  width: 100%;
  max-width: 1300px;
<<<<<<< HEAD
  margin: 0 auto;
  padding: 0 10px; }
=======
  margin: 0 auto; }

h3 {
  display: block;
  margin: 5px 0 5px 0;
  position: relative; }

@media (max-width: 550px) {
  h1 {
    font-size: 33px; } }
>>>>>>> develop
