.App-header {
  height: auto;
  text-align: center;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 300px;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  overflow: auto;
}
.logoBlock {
  display: flex;
  margin: 0 auto;
}
.App-logo {
  margin-top: 10px;
}
.logo__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.logo {
  padding: 20px 0 0 0;
}
.header{
  background-color: #ff5959;
}
h2 {
  margin: 5px 0 5px 0;
  font-size: 18px;
  color: rgb(232,232,232);
  font-family: "Quicksand-Bold";
  font-weight: bold;
}
h3 {
  font-size: 30px!important;
  color: rgb(232,232,232);
  font-family: "Quicksand-Light";
}
span.logo {
  font-weight: lighter;
}
nav a {
  margin: 0 25px 0 0;
  font-size: 18px;
  line-height: 49px;
  color: rgb(232,232,232);
  font-family: "Quicksand-Bold";
  font-weight: bold;
  text-align: right;
}
nav a.open {
  line-height: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
nav a.open:hover {
  color: white !important;
  background-color: #fc7d7d !important;
}
.logo__section{
  padding: 0 15px;
}

