.footer {
  width: 100%;
  font-size: 18px;
  background-color: darkgray;
  top: 0;
  left: 0;
  color: #e8e8e8; }

.textBlock {
  margin-left: 30px;
  font-family: "Quicksand-Bold";
  font-weight: bold; }

.footerLogo {
  display: flex; }

.footerLogo img.App-logo {
  margin: 0;
  padding: 5px; }

.footerBlock {
  height: 115px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  overflow: auto; }
